html{
    font-size: 42.5%;
}


ul{
    list-style: none;
    padding: 0;

}

.TodoItem{
    width: 275px;
    background: #82828284;
    margin: 9px 0;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9px;
}

.span{
    display: inline-block;
    margin: 0%;
    padding: 0;

}

.icon-item-container-colour{
    font-weight: bolder;
    font-size: 2.5rem;
    color: #fff;
    transition: color 0.2s ease-in-out;
}

.icon-item-container-colour:hover{
    color: #33310a;
}

.span > p {
    font-size: 2.5rem;
    padding: 0;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.active{
    text-decoration: line-through;
}

.active-icon{
    font-weight: bolder;
    color: #33310a;    
}