@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat/Montserrat-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
