@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat/Montserrat-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

input{
    line-height: 25px;
    width: 185px;
    display: block;
    margin: 0 auto;
    border: 1px solid #b9b8b8;
    border-radius: 9px;
    padding:3px 9px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
}
